<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--============ LWR Runner script Params ========-->

    <!-- The end effector frame (you'll be able to use frames <= tip_link for cartesian position, jacobians etc.) -->
    <arg name="tip_link" default="link_7"/>
    <!-- Run Simulated robot (need to 'roslaunch rtt_lwr_gazebo lwr_gazebo.launch' first) -->
    <arg name="sim" default="false" />
    <!-- Run in GDB -->
    <arg name="debug" default="false" />
    <!-- Launch rviz -->
    <arg name="rviz" default="true" />
    <!-- The level of verbose (never, fatal, critical, error, warning, info, debug, realtime) -->
    <arg name="log_level" default="warning" />
    <arg name="gazebo_gui" default="true"/>

    <!-- Tools -->
    <arg name="load_base" default="true" />
    <arg name="load_ati_sensor" default="true" />
    <arg name="load_calib_tool" default="true" />
    <arg name="load_handle" default="true" />
    <arg name="launch_gazebo" default="true" />
    <arg name="spawn_in_gazebo_process" default="false"/>
    <arg name="use_sim_time" default="true"/>
<!--============ LWR Runner script ===============-->

    <include file="$(find lwr_utils)/launch/run.launch">
        <arg name="sim" value="$(arg sim)" />
        <!-- Default ops script location for real robot -->
        <arg name="ops_script" value="$(find rtt_state_publisher)/scripts/run.ops"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
        <arg name="launch_gazebo" value="$(arg launch_gazebo)"/>
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="spawn_in_gazebo_process" value="$(arg spawn_in_gazebo_process)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

</launch>
