<?xml version="1.0" encoding="UTF-8" ?>
<launch>
<!--============ LWR Runner script Params ========-->
    
    <!-- The end effector frame (you'll be able to use frames <= tip_link for cartesian position, jacobians etc.) -->
    <arg name="tip_link" default="ati_link"/>
    <!-- Run Simulated robot (need to 'roslaunch rtt_lwr_gazebo lwr_gazebo.launch' first) -->
    <arg name="sim" default="false" />
    <!-- The global namespace if you need to change it (unlikely) -->
    <arg name="robot_ns" default="/"/>
    <!-- Run in GDB -->
    <arg name="debug" default="false" />
    <!-- Launch rviz -->
    <arg name="rviz" default="true" />
    <!-- The level of verbose (never, fatal, critical, error, warning, info, debug, realtime) -->
    <arg name="log_level" default="warning" />
    <arg name="gazebo_gui" default="true"/>

    <!-- Tools -->
    <arg name="load_base" default="true" />
    <arg name="load_ati_sensor" default="true" />
    <arg name="load_calib_tool" default="true" />
    <arg name="load_handle" default="true" />
    <arg name="load_gripper" default="true" />


<!--============ LWR Runner script ===============-->  

    <include file="$(find lwr_launch)/launch/run.launch">
        <arg name="sim" value="$(arg sim)" />
        <!-- Default ops script location for real robot -->
        <arg name="ops_script" value="$(find rtt_state_publisher)/scripts/run_hw_standalone.ops" unless="$(arg sim)"/>
        <!-- Default ops script location for simulated robot -->
        <arg name="ops_script" value="$(find rtt_state_publisher)/scripts/run_sim_standalone.ops" if="$(arg sim)"/>
        <arg name="robot_ns" value="$(arg robot_ns)"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="rviz" value="$(arg rviz)" />
        <arg name="log_level" value="$(arg log_level)" />
        <arg name="tip_link" value="$(arg tip_link)"/>
        <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
        <arg name="load_base" value="$(arg load_base)" />
        <arg name="load_ati_sensor" value="$(arg load_ati_sensor)" />
        <arg name="load_calib_tool" value="$(arg load_calib_tool)" />
        <arg name="load_handle" value="$(arg load_handle)" />
        <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

</launch>

